<a class="social-button" href="{{ site.baseurl }}rss.xml"><i class="fa fa-rss-square fa-lg" style="font-size: 1.75em"></i></a>
<a class="social-button" href="mailto:{{ site.email }}"><i class="fa fa-envelope-square fa-lg" style="font-size: 1.75em"></i></a>
<a class="social-button" href="https://linkedin.com/in/{{ site.linkedin_user }}"><i class="fa fa-linkedin-square fa-lg" style="font-size: 1.75em"></i></a>
<a class="social-button" href="https://github.com/{{ site.github_user }}"><i class="fa fa-github-square fa-lg" style="font-size: 1.75em"></i></a>
