---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.img-wrapper {
	overflow: hidden;
	padding-bottom: 30px;
}

.post-content .full-img {
	width: 48%;
	padding: 3px;
	margin: 0px;
	float: left;
}

/* small screen */
@media only screen and (max-device-width: 700px) {
	.post-content .full-img {
		width: 98%;
 	}
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
